@font-face {
   font-family: 'LayijiMahaniyom-Bao-1.2';
   font-display: swap;
   src: url('file:///C:/Users/BEE/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-11_203644/fonts/LayijiMahaniyom-Bao-1.2/font.ttf');
}
