@font-face {
   font-family: 'SanamDeklen_chaya';
   font-display: swap;
   src: url('file:///C:/Users/BEE/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-11_203644/fonts/SanamDeklen_chaya/font.ttf');
}
